/* Basic styling */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Instrument Sans", system-ui, sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 100dvh;
}

a {
  color: white;
  text-decoration: none;
}
