/* Basic styling */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("debug.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Inter, system-ui, sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 100dvh;
}

header {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 3rem;
  font-weight: 700;
}

main {
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}
